<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:physical_exams, :mds_report, :lab_data] %>
  <% end %>
  <%= f.predicate_select only: %i(cont not_cont eq not_eq blank null lt lteq gt gteq) %><br />
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>