<h3>Search the Data</h3>

<%= search_form_for @search, url: search_searches_path, method: :post do |f| %>

  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <%= link_to_add_fields "Add Conditions", f, :condition %>
 
  <div class="form_group">


  <%= f.submit class: 'btn btn-success' %>
<% end %>