<% provide(:title, "Search") %>
<div class="jumbotron">

<h3>Data Definitions</h3>

<p>The data in the repository is derived from a number of sources including fitness tests, lab tests, physical examinations, and surveys.  To better understand the data sources and view a full list of the available data, use the buttons below.</p>

<div class="center block">
<div class="btn-group" role="group">
  <%= link_to 'Available Data', data_path, class: 'btn btn-primary btn-lg no-underline' %>
  <%= link_to 'Download PDF', asset_path('NIPSH_data_sources.pdf'), class: 'btn btn-primary btn-lg center-block no-underline' %>
</div>
</div>
<br />
<br />

<%= render "search" %>

<%= render 'results' %>

<%= render 'charts' %>

</div>


