<% provide(:title, "Search") %>
<div class="jumbotron">

<h1>Search</h1>

<%= form_tag(patients_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Patients" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<% if @patients.present? %>
	<%= render @patients %>
<% else %>
	<p>There are no patients matching your search criteria: <%= params[:search] %>.</p>
<% end %>
</div>